<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="whdth=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <title>修改信息</title>
</head>
<body>
<!-- 导航 -->
<nav th:replace="admin/_fragments :: menu(4)" class="ui inverted attached segment me-padding1">
    <div class="ui container">
        <div class="ui inverted stackable secondary menu">
            <h2 class="ui teal header item">Blog管理</h2>
            <a href="bloglist.html" class="nav-item active item mobile-hide"><i class="small home icon"></i>博客</a>
            <a href="typelist.html" class="nav-item item mobile-hide"><i class="small idea icon"></i>分类</a>
            <a href="taglist.html" class="nav-item item mobile-hide"><i class="small tag icon"></i>标签</a>
            <div class="nav-item right menu mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                        褪色
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/userInfo}" class="item">修改资料</a>
                        <a href="#" th:href="@{/admin/passModify}" class="item">修改密码</a>
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui nav-button black icon button mobile-show me-top-right">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!-- 修改用户信息部分 -->
<div class="me-padding3 me-margin0 me-container">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p id="message" th:text="${message}">恭喜，操作成功！</p>
        </div>
        <form id="blog-form" action="#" th:action="@{/admin/updateUser}" method="post" class="ui segment form">
            <input name="id" type="hidden" th:value="${session.user.id}">
            <div class="field required me-padding-x2">

            </div>
            <div class="field required  me-padding-x2">
                <div class="ui left labeled input">
                    <label class="ui compact teal basic label">头像地址</label>
                    <input name="avatar" type="text" th:placeholder="头像引用地址" th:value="${session.user.avatar}">
                </div>
            </div>
            <div class="field required  me-padding-x2">
                <div class="ui left labeled input">
                    <label class="ui compact teal basic label">大图地址</label>
                    <input name="picture" type="text" th:placeholder="大图引用地址" th:value="${session.user.picture}">
                </div>
            </div>
            <div class="two fields">
                <div class="field required me-marginx1">
                    <div class="ui left labeled input">
                        <label class="ui compact teal basic label">昵称</label>
                        <input name="nickname" type="text" th:placeholder="请输入昵称" th:value="${session.user.nickname}">
                    </div>
                </div>
                <div class="field required me-marginx1">
                    <div class="ui left labeled input">
                        <label class="ui compact teal basic label">邮箱</label>
                        <input name="email" type="email" th:placeholder="请输入邮箱" th:value="${session.user.email}">
                    </div>
                </div>
            </div>
            <div class="required field me-padding-x2">
                个人爱好：
                <textarea name="userlike" th:text="${session.user.userlike}==''?'暂无':${session.user.userlike}" placeholder="请输入个人爱好标签，注意用空格隔开" maxlength="100" style="height: 5em !important;min-height: 5em !important;margin-top: 8px;"></textarea>
            </div>
            <div class="required field me-padding-x2">
                个人技能：
                <textarea name="usertag" th:text="${session.user.usertag}==''?'暂无':${session.user.usertag}" placeholder="请输入个人技能标签，注意用空格隔开" maxlength="100" style="height: 5em !important;min-height: 5em !important;margin-top: 8px;"></textarea>
            </div>
            <div class="required field me-padding-x2">
                个人描述：
                <textarea name="userinfo" th:text="${session.user.userinfo}==''?'我太难了，还没想好咋写':${session.user.userinfo}" placeholder="个人描述,最多可输入150字..." maxlength="150" style="height: 8em !important;margin-top: 8px;"></textarea>
            </div>
            <!-- 校验提示内容 -->
            <div class="ui error message"></div>
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${message}">恭喜，操作成功！</p>
            </div>
            <div class="ui right aligned container me-margin-t2b1">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button class="ui teal submit button">确认修改</button>
            </div>
        </form>
    </div>
</div>
<!-- 修改用户信息结束 -->
<!-- 底部 -->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment me-padding5">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/imags/wechat.png" th:src="@{/imags/wechat.png}" class="ui rounded image"
                             style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item" style="font-size: 14px;padding-bottom: 8px">用户故事（User Story）</a>
                    <a href="#" class="item" style="font-size: 14px;padding-bottom: 8px">关于学习的小技巧</a>
                    <a href="#" class="item" style="font-size: 14px;padding-bottom: 8px">高效的Coding Skill</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item" style="font-size: 14px;padding-bottom: 8px">QQ：1005339793</a>
                    <a href="#" class="item" style="font-size: 14px;padding-bottom: 8px">邮箱：tuise1996@163.com</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Tuise Say</h4>
                <p class="me-text-thin me-text-spaced me-opacity-mini me-text-lined" style="font-size: 13px">
                    这是一个个人博客，这是测试版本1.0，用于测试，展示博客，发表个人博客，以及应聘作品展示平台...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="me-text-thin me-text-spaced me-opacity-big">Copyright © 2019-2019 Tuise Designed by Lirenmi</p>
    </div>
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    window.onload = function () {
        var message = document.getElementById("message").innerText;
        if (message == "修改成功") {
            alert("资料修改成功，现在返回博客列表!");
            location.href = "[[@{/admin/bloglist}]]";
        }
    };
    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
    $('.ui.form').form({
        fields : {
            avatar : {
                identifier: 'avatar',
                rules: [{
                    type : 'empty',
                    prompt : '头像：请输头像地址'
                }]
            },
            picture : {
                identifier: 'picture',
                rules: [{
                    type : 'empty',
                    prompt : '大图：请输大图地址'
                }]
            },
            nickname : {
                identifier: 'nickname',
                rules: [{
                    type : 'empty',
                    prompt : '昵称：请输入昵称'
                }]
            },
            email : {
                identifier: 'email',
                rules: [{
                    type : 'email',
                    prompt: '标题：请输入邮箱地址'
                }]
            },
            userlike : {
                identifier: 'userlike',
                rules: [{
                    type : 'empty',
                    prompt: '个人爱好：请输入个人爱好标签'
                }]
            },
            usertag : {
                identifier: 'usertag',
                rules: [{
                    type : 'empty',
                    prompt: '个人技能：请输入个人技能标签'
                }]
            },
            userinfo : {
                identifier: 'userinfo',
                rules: [{
                    type : 'empty',
                    prompt: '个人描述：请输入个人描述'
                }]
            }
        }
    });
</script>
</body>
</html>